/* Dark Theme */
body.dark-theme {
  background-color: rgb(48, 48, 48);
  color: white;
}

/* Main & Sections */
body.dark-theme main,
body.dark-theme section,
body.dark-theme section h2,
body.dark-theme section h3,
body.dark-theme section ul li,
body.dark-theme section p,
body.dark-theme a {
  color: white;
}

/* Header */
body.dark-theme header {
  background-color: rgb(27, 27, 27);
}
body.dark-theme header h1,
body.dark-theme header p {
  color: black;
  background-color: white;
}

/* Navigation */
body.dark-theme nav ul {
  font-weight: bold;
}
body.dark-theme nav ul li a {
  color: white;
}
body.dark-theme nav ul li a:hover {
  color: white;
  background-color: rgb(46, 44, 44);
}

/* Theme Toggle */
body.dark-theme .label-text {
  color: white;
}
